Package: chaoge.Daeman
Name: Daeman
Version: 0.1-1
Description: Manage daemons. see https://github.com/lich4/Daeman. Leave a message on github issue if you have suggestion
Section: System
Depends: firmware (>= 5.0), mobilesubstrate, preferenceloader, com.rpetrich.rocketbootstrap
Priority: optional
Architecture: iphoneos-arm
Author: chaoge
Maintainer: chaoge

